<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #e9ecef; 
            margin: 0;
        }
        nav {
            background-color: #f8f9fa;
            padding: 10px;
        }
        nav a {
        text-decoration: none;
        color : inherit;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title>Password Checker</title>
</head>
<body>
    <nav>
        <a href="/" style="font-size: 1.5em;font-family: Arial, Helvetica, sans-serif;">Home Page</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
