{% extends 'base.html' %}
{% block content %}
<h1>Sign In</h1>
<form id="signInForm" action="{{ url_for('report') }}" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Submit">
</form>

<script>
    document.getElementById("signInForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent form submission
        this.submit(); // Manually trigger form submission
    });
</script>
{% endblock %}
