<!DOCTYPE html>
<html>
<head>
    <style>
        nav {
            background-color: #f8f9fa;
            padding: 10px;
        }
        nav a {
        text-decoration: none;
        color : grey;
        font-size: 1.5em;
        font-family: Arial;
        }
        body {
            background-color: #e9ecef; 
            margin: 0;
        }

    </style>
    <title>Password Validator</title>
</head>
<body>
    <nav>
        <a href="/">Home Page</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
